
.navbar{
    background-color: #D3B6D5;
}

.quem-somos{
    background-color: #D3B6D5;
}

.margin{
   padding-top: 30px;
   padding-bottom: 50px;
}

.bg-footer{
    background-color: black;
    color: white;
}

.contatos{
    background-color: #8B6E8D;
    

}
.clientes{
    padding-right: 1000px;
    

}